/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <locale/keys_de.h>
#include <dt-bindings/zmk/mouse.h>

#define WRT 0
#define SPL 1
#define NUM 2
#define FNC 3
#define SYS 4

#define MO_TOG(layer) &mo_tog layer layer
#define UML(uml) &kp DE_##uml##_UMLAUT
#define DE_LR(key) &mt DE_R##key DE_L##key
#define GR_AC &mt DE_GRAVE DE_ACUTE
#define LT_GT &mt DE_GT DE_LT


/ {
keymap {compatible = "zmk,keymap";

/* WRT

 *  BSP  H  .  U  ,  Ä                         W  B  D  M  S  DEL
 *  ALT  Z  A  I  E  O                         C  N  T  R  K  FN2
 *  CTR TAB X  Ö  Ü  Y  SYS               AF4  V  F  J  ß --- RET
 *                G  L  SPL  SFT     SFT  SPC  P  Q
 */

write_layer {
display-name = "Write";
bindings = <

&kp BSPC   &kp H     &kp DOT  &kp U   &kp COMMA  UML(A)                                                         &kp W  &kp B  &kp D  &kp M      &kp S  &kp DEL
&kp LALT   &kp DE_Z  &kp A    &kp I   &kp E      &kp O                                                          &kp C  &kp N  &kp T  &kp R      &kp K  &kp F2
&kp LCTRL  &kp TAB   &kp X    UML(O)  UML(U)     &kp DE_Y  &to SYS                                  &kp LA(F4)  &kp V  &kp F  &kp J  &kp DE_SZ  &none  &kp RET
                                      &kp G      &kp L     &mo SPL  &skq LSHIFT        &skq RSHIFT  &kp SPACE   &kp P  &kp Q
>;};


/* SPL

 *  CBS CRA FNC CUP NUM PSC                       #   &   _  ' CTR SDL
 *  VUP CRC CLF CDN CRT CRV                       "   ?   !  -  ~   ^
 *  VDN CRX  |  { } ( ) [ ] ESC              WIN ` ´ < >  €  $  §   °
 *                  --- --- --- ---     SFT  SPC  @   %
 */

special_layer {
display-name = "Special";
bindings = <

&kp LC(BSPC)  &kp LC(A)  MO_TOG(FNC)  &kp UP      MO_TOG(NUM)  &kp PSCRN                                               &kp DE_HASH  &kp DE_AMPS   &kp DE_UNDER  &kp DE_SQT    &kp RCTRL     &kp RS(DEL)
&kp C_VOL_UP  &kp LC(C)  &kp LEFT     &kp DOWN    &kp RIGHT    &kp LC(V)                                               &kp DE_DQT   &kp DE_QMARK  &kp DE_EXCL   &kp DE_MINUS  &kp DE_TILDE  &kp DE_CARET
&kp C_VOL_DN  &kp LC(X)  &kp DE_PIPE  DE_LR(BRC)  DE_LR(PAR)   DE_LR(BKT)  &kp ESC                           &kp LWIN  GR_AC        LT_GT         &kp DE_EURO   &kp DE_DLLR   &kp DE_SECT   &kp DE_DEG
                                                  &none        &none       &none    &none        &kp RSHIFT  &kp SPACE &kp DE_AT    &kp DE_PRCNT
>;};


/* NUM

 *  BSP HOM --- CUP --- PUP                       =  7  8  9  -  DEL
 *  --- END CLF CDN CRT PDW                       +  4  5  6  /  ---
 *  --- TAB --- --- --- --- ---             ---   *  1  2  3 --- RET
 *                  --- --- WRT ---      \   .    0  ,
 */

numbers_layer {
display-name = "Numbers";
bindings = <

&kp BSPC  &kp HOME  &none     &kp UP    &none      &kp PG_UP                                              &kp DE_EQUAL     &kp KP_N7   &kp KP_N8  &kp KP_N9  &kp KP_MINUS  &kp DEL
&none     &kp END   &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN                                              &kp KP_PLUS      &kp KP_N4   &kp KP_N5  &kp KP_N6  &kp KP_SLASH  &none
&none     &kp TAB   &none     &none     &none      &none      &none                              &none    &kp KP_ASTERISK  &kp KP_N1   &kp KP_N2  &kp KP_N3  &none         &kp RET
                                        &none      &none      &to WRT  &none        &kp DE_BSLH  &kp DOT  &kp KP_N0        &kp KP_DOT
>;};

/* FNC

 *  --- MSL MCL MUP MCR MSU                     F10 FN7 FN8 FN9 --- ---
 *  --- MSR MLF MDN MRT MSD                     F11 FN4 FN5 FN6 --- ---
 *  --- --- --- --- --- MMC ---             --- F12 FN1 FN2 FN3 --- ---
 *                  --- --- WRT ---     SFT CTR ALT ---
 */


function_layer {
display-name = "Function";
bindings = <

&none  &msc SCRL_LEFT   &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &msc SCRL_UP                                                 &kp F10   &kp F7  &kp F8  &kp F9  &none  &none
&none  &msc SCRL_RIGHT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN                                               &kp F11   &kp F4  &kp F5  &kp F6  &none  &none
&none  &none            &none           &none           &none            &mkp MCLK       &none                             &none      &kp F12   &kp F1  &kp F2  &kp F3  &none  &none
                                                        &none            &none           &to WRT  &none        &kp RSHIFT  &kp LCTRL  &kp LALT  &none
>;};


/* SYS

 * BTL --- BOT EPT --- BNX                     --- --- --- --- --- BTL
 * --- --- --- --- RST BPV                     --- RST --- --- --- ---
 * --- --- --- --- --- BCL ---             --- --- --- --- --- --- ---
 *                 --- --- WRT ---     --- --- --- ---
 */

system_layer {
display-name = "System";
bindings = <

&bootloader  &none  &out OUT_TOG  &ext_power EP_TOG  &none       &bt BT_NXT                                          &none  &none       &none  &none  &none  &bootloader
&none        &none  &none         &none              &sys_reset  &bt BT_PRV                                          &none  &sys_reset  &none  &none  &none  &none
&none        &none  &none         &none              &none       &bt BT_CLR  &none                            &none  &none  &none       &none  &none  &none  &none
                                                     &none       &none       &to WRT  &none            &none  &none  &none  &none
>;};

};

behaviors {
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <160>;
            bindings = <&mo>, <&tog>;
        };

        skq: sticky_key {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <750>;
            quick-release;
            ignore-modifiers;
        };

        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <160>;
            bindings = <&kp>, <&kp>;
        };
    };
};